In [2]:
import pandas as pd
import numpy as np
import pickle

In [3]:
with open("final_df",'rb')as f:
    df=pickle.load(f)

In [4]:
df.sample(5)

,BattingTeam,BowlingTeam,City,Current_Score,Wicket_left,Balls_left,crr,last_five,total_run_y
65629,Chennai Super Kings,Rajasthan Royals,Mumbai,101,7,39,7.481481,41.0,163
48541,Punjab Kings,Kolkata Knight Riders,Chandigarh,62,8,62,6.413793,29.0,124
19366,Chennai Super Kings,Rajasthan Royals,Jaipur,119,8,43,9.272727,41.0,176
8776,Punjab Kings,Sunrisers Hyderabad,Chennai,104,3,15,5.942857,33.0,120
28666,Mumbai Indians,Sunrisers Hyderabad,Hyderabad,62,6,53,5.552239,22.0,142

In [7]:
from xgboost import XGBRegressor

In [8]:
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

In [9]:
x=df.drop("total_run_y",axis=1)
y=df["total_run_y"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [10]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BowlingTeam','City'])
]
,remainder='passthrough')

In [11]:
from  sklearn.preprocessing import StandardScaler
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))
])

In [18]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', StandardScaler()),
                ('step3',
                 XGBRegressor(base_score=None, booster=None, callbacks=None,
                              colsample_bylevel=None, colsample_bynode=None,
                              colsample_bytree=None, early_stopping_round...
                              feature_types=None, gamma=None, gpu_id=None,
                              grow_policy=None, importance_type=None,
                              interaction_constraints=None, learning_rate=0.2,
                              max_bin=None, max_cat_threshold=None,
                              max_cat_to_onehot=None, max_delta_step=None,
                              max_depth=12, max_leaves=None,
                              min_child_weight=None, missing=nan,
                              monotone_constraints=None, n_estimators=1000,
                              n_jobs=None, num_parallel_tree=None,
                              predictor=None, random_state=1, ...))])

In [20]:
y_pred = pipe.predict(x_test)

In [21]:
from sklearn.metrics import r2_score,mean_absolute_error

In [22]:
r2_score(y_test,y_pred)

0.9695773420616296

In [23]:
mean_absolute_error(y_test,y_pred)

2.636909903103765

In [24]:
with open("model_pickle",'wb')as f:
    pickle.dump(pipe,f)

In [25]:
df["BattingTeam"].unique()

array(['Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Delhi Capitals', 'Chennai Super Kings', 'Kolkata Knight Riders',
       'Punjab Kings', 'Rajasthan Royals', 'Mumbai Indians'], dtype=object)

In [26]:
df["City"].unique()

array(['Ahmedabad', 'Mumbai', 'Navi Mumbai', 'Pune', 'Dubai', 'Sharjah',
       'Abu Dhabi', 'Delhi', 'Chennai', 'Hyderabad', 'Visakhapatnam',
       'Chandigarh', 'Bengaluru', 'Kolkata', 'Jaipur', 'Indore',
       'Bangalore', 'Raipur', 'Ranchi', 'Cuttack', 'Dharamsala', 'Nagpur',
       'Johannesburg', 'Centurion', 'Durban', 'Bloemfontein',
       'Port Elizabeth', 'Kimberley', 'East London', 'Cape Town'],
      dtype=object)

In [27]:
df.columns

Index(['BattingTeam', 'BowlingTeam', 'City', 'Current_Score', 'Wicket_left',
       'Balls_left', 'crr', 'last_five', 'total_run_y'],
      dtype='object')